<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.DeptMapper">
    <!-- 这个resultMap可以不用，因为这是在一个表中查询不会出现字段名冲突的情况 -->
    <resultMap id="DeptMap" type="Dept">
        <id property="Id" column="Id"/>
        <result property="Name" column="Name"/>
    </resultMap>
    <select id="GetEmpDetailByStepTwo" resultMap="DeptMap">
        select * from department where Id = ${DeptId}
    </select>

    <!-- 一对多映射:collection标签 -->
    <resultMap id="DeptResultMap" type="Dept">
        <id property="Id" column="DeptId"/>
        <result property="Name" column="DeptName"/>
        <!--
            ofType:属性集合中存储的元素的类型
        -->
        <collection property="Emps" ofType="Emp">
            <id property="Id" column="EmpId"/>
            <result property="Name" column="EmpName"/>
        </collection>
    </resultMap>
    <select id="GetDeptDetail" resultMap="DeptResultMap">
        select d.Id   as DeptId,
               d.Name as DeptName,
               e.Id   as EmpId,
               e.Name as EmpName
        from department d
            join employee e on d.Id = e.DeptId
        where d.Id = ${DeptId}
    </select>

    <!-- 一对多映射:分步查询 -->
    <resultMap id="DeptMapStepOne" type="Dept">
        <id property="Id" column="DeptId"/>
        <result property="Name" column="DeptName"/>
        <collection property="Emps" select="com.springboot.mapper.EmpMapper.GetDeptDetailByStepTwo" column="DeptId"/>
    </resultMap>
    <!-- 分步查询:第一步 -->
    <select id="GetDeptDetailByStepOne" resultMap="DeptMapStepOne">
        select d.Id as DeptId,
               d.Name as D2ptName
        from department d
        where Id = ${DeptId}
    </select>
</mapper>